.wrapper {
  margin: 12px 0;
  height: 190px;
  button {
    width: 100%;
  }
  .control {
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;

    input {
      padding: 8px 12px;

      width: calc(100% - 29px);
      outline: 0;
    }
  }
}
