<mat-grid-list cols="1" rowHeight="600px">
  <mat-grid-tile>
    <mat-tab-group>
      <mat-tab label="Log in">
        <div class="wrapper">
          <form [formGroup]="loginForm">
            <div class="control">
              <input formControlName="email" type="text" placeholder="Email" />
            </div>
            <div class="control">
              <input
                formControlName="password"
                type="password"
                placeholder="Password"
              />
            </div>
            <button
              [disabled]="!loginForm.valid || (loading$ | async)"
              (click)="login()"
              class="mat-elevation-z0"
              color="primary"
              mat-raised-button
            >
              Log in
            </button>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Register">
        <div class="wrapper">
          <form [formGroup]="registerForm">
            <div class="control">
              <input formControlName="email" type="text" placeholder="Email" />
            </div>
            <div class="control">
              <input
                formControlName="displayName"
                type="text"
                placeholder="Name"
              />
            </div>
            <div class="control">
              <input
                formControlName="password"
                type="password"
                placeholder="Password"
              />
            </div>
            <button
              [disabled]="!registerForm.valid || (loading$ | async)"
              class="mat-elevation-z0"
              color="primary"
              (click)="register()"
              mat-raised-button
            >
              Register
            </button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>
