

.option{
    background-color: white;
    color: #263238;
    border: 2px solid #263238;
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    transition: border 350ms ease-in-out;
    transition: background-color 350ms ease-in-out;
    transition: color 100ms ease-in-out;
    &:hover{
        border: 2px solid #ee6002;
        background-color: #ee6002;
        color:white;
    }
}