.toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 10;
  background-color: white;
  .topbar {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper {
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-around;
    &.grow {
      flex-grow: 1;
    }
    .resume {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .average {
        font-size: 40px;
      }
      .subtitle {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
    .chart {
    }
  }
}
