<div class="toolbar">
  <div class="topbar">
    <div class="title">{{ (user$ | async)?.displayName }}</div>
    <div>
      <button (click)="openDialog()" mat-button color="primary">
        Add mood
      </button>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon"
          >more_horiz</mat-icon
        >
      </button>
    </div>
  </div>
  <div class="wrapper" [class.grow]="!showChart">
    <div class="resume">
      <div class="average">
        {{ (average$ | async) > 0 ? (average$ | async) : '--' }}
      </div>
      <div class="subtitle">
        {{
          (moods$ | async)?.length > 0
            ? 'Average based on ' + (moods$ | async)?.length + ' entries'
            : 'no entries'
        }}
      </div>
    </div>
    <div *ngIf="showChart && (moods$ | async)?.length" class="chart">
      <ngx-charts-area-chart
        [view]="[500, 150]"
        [results]="data$ | async"
        [animations]="true"
        [scheme]="scheme"
        autoScale="true"
        xAxis="true"
        xAxisLabel="Last 10 entries"
        [showXAxisLabel]="true"
        [curve]="curve"
      >
      </ngx-charts-area-chart>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button (click)="logout()" style="color:red" mat-menu-item>Logout</button>
</mat-menu>
