<!-- 

<button (click)="openDialog()" mat-button>Click me!</button> -->
<div class="home">
  <app-info-toolbar></app-info-toolbar>
  <mat-progress-bar
    *ngIf="(loading$ | async)"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-grid-list
    *ngIf="!(loading$ | async)"
    class="list"
    cols="1"
    rowHeight="120px"
  >
    <mat-grid-tile *ngFor="let mood of (moods$ | async)">
      <div class="item">
        <div class="wrapper">
          <div *ngIf="mood.comment" class="comment">
            <button (click)="showNote(mood)" mat-button color="primary">
              View note
            </button>
          </div>
          <div class="date">
            <span style="margin-right: 5px"
              >{{ mood.created | date: 'dd MMM, HH:mm' }}
            </span>
            <span>{{ mood.value | emojify }}</span>
          </div>
          <div *ngIf="mood.feelings.length" class="feelings">
            <mat-chip-list>
              <mat-chip
                *ngFor="let feel of mood.feelings"
                color="primary"
                selected
              >
                {{ feel }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <small style="line-height: 32px;" *ngIf="!mood.feelings.length">
            No feelings added
          </small>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!(moods$ | async)?.length"
      >Nothing added yet :)</mat-grid-tile
    >
  </mat-grid-list>
</div>
