.home {
  padding-top: 200px;
  .list {
    margin: 12px 0;
  }
  .item {
    width: 100%;
    .wrapper {
      margin: 10px 20px;
      height: 60px;
      background-color: white;
      padding: 10px;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.12);
      position: relative;
      .comment {
        position: absolute;
        top: 0;
        right: 0;
      }
      .date {
        font-size: 13px;
        color: #546e7a;
        display: flex;
        align-items: center;
        transform: translateY(-20px);
        padding: 4px;
        background-color: white;
        border-radius: 12px;
        border: 1px solid #e2e2e2;
      }
      .feelings {
        display: flex;
        justify-content: center;
        transform: translateY(-10px);
      }
      .reaction {
      }
    }
  }
}
