<div #wrapper class="mood-slider" [style.width.px]="width">
  <div
    [style.backgroundColor]="currentColor"
    [style.width.px]="progress"
    class="progress"
  ></div>
  <div
    [@moveUp]="state"
    (touchstart)="setMousedown()"
    (touchend)="emitValue()"
    (pan)="onPan($event)"
    (mousedown)="setMousedown()"
    class="mood-slider-wrapper"
    [style.backgroundColor]="currentColor"
    #indicator
  >
    <div class="mood-slider-value">{{ currentValue }}</div>
  </div>
</div>
