.mood-slider {
  height: 50px;
  background-color: #cecece;
  display: flex;
  position: relative;
  border-radius: 10px;
  margin-top: 30px;
  transition: background-color 250ms ease-in-out;

  .progress {
    height: 50px;
    width: 0;
    z-index: 1;
    border-radius: 10px;
  }
  .mood-slider-wrapper {
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    left: -20px;
    top: 0;
    background-color: #cecece;
    transition: background-color 250ms ease-in-out;
    .mood-slider-value {
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      width: 35px;
      height: 35px;
      background-color: white;
      border-radius: 50%;
      user-select: none;
    }
  }
}
