/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;

  background-color: #fafafa;
}

* {
  font-family: 'Fira Mono', monospace;
}

.mat-toolbar {
  background-color: white;
}

mat-chip {
  transition: none !important;
  box-shadow: none !important;
}
