<div class="dialog">
  <h4>Add mood</h4>
  <mat-dialog-content class="content">
    <div class="slider">
      <app-mood-slider
        [width]="sliderWidth"
        (selected)="setMoodValue($event)"
      ></app-mood-slider>
    </div>
    <div class="information">The last 3 selected will be send</div>
    <mat-grid-list class="list" [cols]="cols" rowHeight="50px">
      <mat-grid-tile *ngFor="let feel of feelings; let idx = index">
        <div #feelRef (click)="toggleSelection(feel, idx)" class="mood">
          {{ feel }}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="comment">
      <textarea
        [formControl]="comment"
        placeholder="Type your optional note here..."
        rows="5"
      ></textarea>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button color="primary" (click)="addMood()" mat-flat-button>
      Add
    </button>
  </mat-dialog-actions>
</div>
