.dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
  .content {
    width: 100%;
    display: block;
  }
  h4 {
    margin: 0;
  }
  .slider {
    display: flex;
    justify-content: center;
  }
  .information {
    margin-top: 16px;
    color: #a5a5a5;
    font-size: 12px;
    text-align: center;
  }
  .comment {
    display: flex;
    margin-top: 20px;
    width: 100%;
    textarea {
      resize: none;
      width: 100%;
      border: 0;
      outline: 0;
      padding: 15px;
      font-size: 14px;
      background-color: #f2f2f2;
    }
  }
  .list {
    width: 100%;

    .mood {
      transform: skew(0deg);
      font-style: normal;
      padding: 0;
      cursor: pointer;
      user-select: none;
      &.selected,
      &:hover {
        transform: skew(-15deg);
        font-style: italic;
        padding: 5px 10px;
        background-color: #fa8100;
        color: white;
      }
    }
  }
}
